@import '~styles/theme.scss';

.iconGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
	width: 100%;
	gap: 1rem;

	.techIcon {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		svg {
			fill: $black;
			width: 2rem;
			height: 2rem;
			min-width: 2rem;
		}
	}
}
