@import '~styles/theme.scss';

.section {
	position: relative;
	margin-left: 1rem;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(1rem - 1px);
		width: 1px;
		background-color: $black;
	}

	.title {
		position: relative;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		gap: 1rem;

		.icon {
			position: relative;
			background-color: $black;
			width: 2rem;
			height: 2rem;
			min-width: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1rem;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: -0.5rem;
				border-radius: 2rem;
				border: 0.5rem solid $white;
			}

			svg {
				stroke: $white;
				fill: none;
				stroke-width: 6;
				width: 1.25rem;
				height: 1.25rem;
				object-fit: cover;
			}
		}

		.arrow {
			fill: $black;
		}
	}
}
