@import '~styles/theme.scss';

.button {
	color: $light;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	display: inline-block;
	font-weight: $semibold;
	transition: 0.15s all ease;

	&.Primary {
		background-color: $accent;
	}

	&.Secondary {
		background-color: $dark-var2;
	}

	&:hover {
		transform: translateY(-0.15rem);
	}
}
