@import '~styles/theme.scss';

.header {
	position: sticky;
	top: 0;
	background-color: $dark-var1;
	z-index: 100;

	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 0 2rem;

	.nav {
		display: flex;
		align-items: center;
		font-weight: $semibold;
		color: $light-var1;

		& > *:not(:last-child) {
			margin-right: 2.5rem;
		}

		.navItem {
			transition: 0.15s all ease;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 2px;
				background-color: transparent;
				transition: 0.25s all ease;
			}

			&.active {
				color: $light;

				&::after {
					width: 100%;
					background-color: $accent;
				}
			}
		}
	}
}
