@import '~styles/theme.scss';

.about {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 4rem;

	.content {
		.subtitle {
			display: flex;
			align-items: center;
			color: $accent;
			position: relative;
			margin-bottom: 1rem;

			.separator {
				flex: 1;
				height: 1px;
				background-color: $accent;
				border: 0;
				margin-left: 1rem;
			}
		}
	}
}
