@import './theme.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: $black;
	background-color: $white;
}

body {
	padding: 1rem;
}

a {
	color: $accent;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media print {
	* {
		-webkit-print-color-adjust: exact;
	}
}
