@import './theme.scss';

.wrapper {
	background-color: $dark;
	color: $light;
}

.section {
	padding: 6rem 0;

	&.alt {
		background-color: $dark-var1;
	}

	.sectionTitle {
		font-size: 3rem;
		font-weight: $bold;
		margin-bottom: 4rem;
	}

	.sectionContent {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.sectionSeparator {
	width: 100%;
	height: 2px;
	max-width: 1200px;
	margin: 0 auto;
	border: none;
}
