$light: #ffffff;
$light-var1: #94999f;

$dark: #1c232e;
$dark-var1: #222a36;
$dark-var2: #29313d;

$accent: #676cdb;

$branch-color: #e2e4e9;
$border-color: #e2e4e9;

$regular: 400;
$semibold: 500;
$bold: 700;
