$white: #f6f7fb;
$light-gray: #f3f3f3;
$dark: #2d3a4b;
$accent: #9fbfef;
$gitcolor-dark: #2d3a4b;
$gitcolor-red: #f63a6b;
$gitcolor-green: #06ccb9;

$branch-color: #e2e4e9;
$border-color: #e2e4e9;
$card-shadow: 0 0 0.125rem rgba($dark, 0.32);
