@import '~styles/theme.scss';

.subsection {
	font-weight: normal;
	font-size: 0.875rem;
	display: flex;
	gap: 3rem;

	.bullet {
		position: relative;
		background-color: $white;
		width: 1rem;
		height: 1rem;
		min-width: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		border: 1px solid $black;
		margin-left: 0.5rem;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: calc(-0.5rem - 1px);
			border-radius: 2rem;
			border: 0.5rem solid $white;
		}

		&::after {
			content: '';
			background-color: $black;
			position: absolute;
			top: 50%;
			left: 1.5rem;
			width: 1.5rem;
			height: 1px;
		}
	}

	.content {
		width: 100%;

		.subtitle {
			font-weight: normal;
			font-size: inherit;
			margin-bottom: 1rem;
		}
	}
}
