@import '~styles/theme.scss';

.subsection {
	position: relative;
	font-weight: normal;
	font-size: 0.875rem;
	padding-left: 4.5rem;

	.bullet {
		position: absolute;
		top: 0.125rem;
		left: 0rem;
		background-color: $white;
		width: 1rem;
		height: 1rem;
		min-width: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		border: 4px solid $dark;
		margin-left: 0.5rem;

		.branch {
			fill: none;
			stroke: $branch-color;
			stroke-width: 4;
			position: absolute;
			height: 2rem;
			top: 50%;
			left: 50%;
			z-index: -2;
		}
	}

	.subtitle {
		position: relative;
		font-weight: normal;
		font-size: inherit;
		margin-bottom: 1rem;

		&.nocontent {
			margin-bottom: 0;
		}

		&::before {
			content: '';
			background-color: $dark;
			position: absolute;
			top: calc(0.625rem - 1px);
			left: -3.5rem;
			width: 3rem;
			height: 2px;
			z-index: -5;
		}
	}

	.content {
		width: 100%;
		position: relative;

		&.untitled {
			margin-top: 2rem;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: calc(-1rem - 2px);
			width: 4px;
			background-color: $branch-color;
			z-index: -1;
			border-radius: 2px;
		}

		ul {
			list-style: none;
			position: relative;
			margin: 0.5rem 0;

			li {
				position: relative;
				padding: 0.5rem 0.75rem;
				display: flex;
				align-items: center;
				gap: 0.5rem;

				&:not(:last-child) {
					border-bottom: 1px solid $border-color;
				}

				&::before {
					content: '';
					position: absolute;
					top: 0.875rem;
					left: calc(-1rem);
					transform: translate(-50%, 0);
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 1rem;
					background-color: $dark;
					z-index: -1;
				}

				svg {
					width: 1rem;
					height: 1rem;
					fill: $dark;
				}
			}
		}
	}
}
