@import '~styles/theme.scss';

.heading {
	margin-bottom: 1rem;

	.leading {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 0.75rem;

		.logo {
			svg {
				width: 4rem;
				height: 4rem;
				fill: $dark;
			}
		}

		.firstname {
			font-size: 2.75rem;
			font-weight: 200;
			line-height: 3rem;
		}

		.lastname {
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.titles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.25rem;

		.title {
			background-color: $dark;
			color: $light;
			padding: 0.25rem 1rem;
			text-transform: uppercase;
			display: inline-block;
		}
	}
}
